subscription_id  = "00000000-0000-0000-0000-000000000000"
msp_tenant_id    = "00000000-0000-0000-0000-000000000000"
name_prefix      = "mspcp"
environment_name = "dev"
location         = "australiaeast"

tags = {
  project            = "msp-automation-control-plane"
  owner              = "platform-team"
  msp_tenant         = "example-msp"
  client_test_tenant = "example-client"
}
